---
import { Media } from 'accessible-astro-components'

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source URL for the image
   */
  imgSrc: string
  imgAlt: string
  imgCaption?: string
  imgClass?: string
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  reverseImg?: boolean
}

const { imgSrc, imgAlt, imgCaption="", imgClass="", reverseImg = false }: Props = Astro.props
---

<section class="h-full">
  <div class="container h-full">
    <div class="grid grid-cols-1 gap-16 md:grid-cols-2 h-full">
      {!reverseImg ? 
      <div class="h-full content-center">
        <Media class={imgClass} src={imgSrc} alt={imgAlt}/>
        {imgCaption? <span class="text-sm mt-4">{imgCaption}</span> : ''}
      </div>
      : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverseImg ? 
      <div class="h-full content-center">
        <Media class={imgClass} src={imgSrc} />
        {imgCaption? <span class="text-sm mt-4">{imgCaption}</span> : ''}
      </div>
      : ''}
    </div>
  </div>
</section>
